
<div class="container">
  <%= simple_form_for(@program) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :terms %>
      <%= f.input :accepted_vulnerabilities %>
      <%= f.input :excluded_vulnerabilities %>
      <%= f.input :vulnerability_levels %>
      <%= f.input :bounty_range, placeholder: "min -max" %>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
