
<h1 class="title">Programs</h1>

  <div class="d-flex justify-content-center center-div">
    <div class="input-group container">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control round-border" />
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
<div class="card-wrapper">
  <% @programs.each do |program| %>
    <%= link_to program_path(program), class: "text-decoration-none" do %>
      <div class="program-card" style="background-color: #DADADA;">
        <div>
          <%= image_tag(program.company.logo) %>
        </div>
        <div class="program-details text-dark">
          <h3 class="text-truncate"><%= program.title %></h3>
          <p class="text-truncate"><%= program.terms %> </p>
          <div class="program-bounty">
            <strong><%=program.bounty_range %> MAD</strong>
          </div>

        </div>
      </div>
    <% end %>
  <% end %>
</div>
