

<div class="container h-25 bg-dark my-5 p-5 border border-white">
  <h1 class="company-name"><%= @program.company.company_name %></h1>
  <hr>
  <h2><%= @program.title %></h2>
  <div>Updated
    <% time = (-(@program.updated_at - DateTime.now).round) %>
    <% if time > 604800 %>
      <% days = time / 604800 %>
      <%= days %> days
    <% elsif time > 86400 %>
      <% days = time / 86400 %>
      <%= days %> days
    <% elsif time > 3600 %>
      <% hours = time / 3600 %>
      <%= hours %> hours
    <% elsif time > 3600 %>
      <% hours = time / 3600 %>
      <%= hours %> hours
    <% elsif time > 60 %>
      <% min = time / 60 %>
      <%= min %> minutes
    <% elsif time < 60 %>
      <%= time %> secondes
    <% end %>
    ago
  </div>
  <% if user_signed_in?  %>
    <% if !(current_user.expert.nil?) %>
      <%= button_to "Report", new_program_report_path(@program), method: :get %>
    <% end %>
  <% elsif !user_signed_in? %>
      <%= button_to "Report", new_program_report_path(@program), method: :get %>
  <% end %>
  <hr>
  <h3>Terms</h3>
  <p><%= @program.terms %></p>

  <h3>Accepted Vulnerabilities</h3>
  <p><%= @program.accepted_vulnerabilities %></p>

  <h3>Excluded Vulnerabilities</h3>
  <p><%= @program.accepted_vulnerabilities %></p>
  <div class="border border-white py-4 rounded-3">
    <h5 class="ps-3">Program Scopes</h5>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Program Scopes</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @program_scopes.each do |scope| %>
        <tr>
          <th><%= scope.link %></th>
          <td><%= scope.scope_type %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if user_signed_in? %>
    <% if  current_user.company == @program.company %>
      <h3>Reports</h3>
      <% @program.reports.each do |report| %>
        <li>@<%= report.expert.username %> | <%= link_to 'Accept',accept_path(report), data: { 'turbo-method' => :patch }  %> | <%= link_to 'Refuse',refuse_path(report), data: { 'turbo-method' => :patch }  %></li>
      <% end %>
    <% end %>
  <% end %>

     <div class="notification">
          <img src="https://kitt.lewagon.com/placeholder/users/arthur-littm" class="avatar-large">
          <div class="notification-content">
            <p><small>18th september</small></p>
            <p>Arthur completed the report for "The Bank Of Zweifen". </p>
          </div>

          <div class="notification-open">
            <a href="#">ACCEPT <i class="fas fa-check"></i></a>
          </div>

          <div class="notification-close">
            <a href="#">REFUSE <i class="fas fa-xmark"></i></a>
          </div>


        </div>







</div>
