<div id="<%= dom_id company %>">
  <p>
    <strong>Company name:</strong>
    <%= company.company_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= company.phone_number %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= company.logo %>
  </p>

</div>
