<div class="container">
  <h1>New scope</h1>

  <div class="container">
    <%= simple_form_for [@program, @scope] do |f| %>
      <%= f.input :link %>
      <%= f.input :scope_type %>
      <%= f.button :submit %>
    <% end %>
  </div>

  <br>

  <div>
    <%= link_to "Back to scopes", program_scopes_path %>
  </div>
</div>
