<div id="<%= dom_id expert %>">
  <p>
    <strong>First name:</strong>
    <%= expert.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= expert.last_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= expert.username %>
  </p>

  <p>
    <strong>Github account:</strong>
    <%= expert.github_account %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= expert.twitter %>
  </p>

  <p>
    <strong>Cv:</strong>
    <%= expert.cv %>
  </p>

  <p>
    <strong>Website portfolio:</strong>
    <%= expert.website_portfolio %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= expert.bio %>
  </p>

  <p>
    <strong>Idendity number:</strong>
    <%= expert.idendity_number %>
  </p>

  <p>
    <strong>Idendity photo:</strong>
    <%= expert.idendity_photo %>
  </p>

</div>
